yt-dlp==2025.11.12
pytube==15.0.0
pillow==12.0.0
spotipy==2.25.2
aiohttp==3.12.1
aiofiles==23.2.1
tgcrypto==1.2.5
py-tgcalls==2.2.5
ntgcalls==2.0.6
python-dotenv==1.2.1
youtube-search-python==1.6.6
git+https://github.com/PyrogramMod/PyrogramMod.git@main
